.popup_wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.popup_wrap.on {
  display: flex;
}

.hs_detail_popup {
  position: relative;
  width: 800px;
  height: 1000px;
  max-height: 95vh;
  overflow-y: scroll;
  background: #fff;
  padding: 3rem 0;
  box-sizing: border-box;
}

.hs_detail_popup_inner {
  width: 650px;
  margin: auto;
}

.hs_detail_popup_title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.hs_detail_popup_content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hs_detail_popup_content h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.hs_detail_drunked_content {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 40vh;
  padding: 0.5rem;
  box-sizing: border-box;
}

.hs_detail_drunked_added_item {
  width: 45%;
  margin-right: 10%;
  margin-bottom: 2rem;
}
.hs_detail_drunked_added_item:nth-child(2n) {
  margin-right: 0;
}
.hs_detail_drunked_added_item:nth-last-child(1),
.hs_detail_drunked_added_item:nth-last-child(2) {
  margin-bottom: 0;
}

.hs_detail_drunked_added_img {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.hs_detail_drunked_added_img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hs_detail_drunked_added_img > figcaption {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
  color: #fff;
}

.hs_detail_drunked_added_img > figcaption > p {
  margin-bottom: 0.5rem;
}

.hs_detail_drunked_added_img > figcaption > span {
  font-size: 0.8rem;
  font-weight: 300;
}

.hs_detail_drunked_added_content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.5rem;
  color: #666;
}

.hs_detail_memo_content > textarea {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #bababa;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  box-sizing: border-box;
}

.hs_detail_btn {
  display: flex;
  gap: 1rem;
}

.hs_detail_popup_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}
