.popupWrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  &.on {
    display: flex;
  }
}



.hsDetailPopup {
  position: relative;
  width: 800px;
  height: 1000px;
  max-height: 95vh;
  overflow-y: scroll;
  background: #fff;
  padding: 3rem 0;
  box-sizing: border-box;
}

.hsDetailPopupInner {
  width: 650px;
  margin: auto;
}

.hsDetailPopupTitle {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.hsDetailPopupContent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
}

.hsDetailDrunkedContent {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 40vh;
  padding: 0.5rem;
  box-sizing: border-box;
}

.hsDetailDrunkedAddedItem {
  width: 45%;
  margin-right: 10%;
  margin-bottom: 2rem;
  &:nth-child(2n) {
    margin-right: 0;
  }
  &:nth-last-child(1),
  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}

.hsDetailDrunkedAddedImg {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  & > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  & > figcaption {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem 0;
    color: #fff;
  }
  
  & > figcaption > p {
    margin-bottom: 0.5rem;
  }
  
  & > figcaption > span {
    font-size: 0.8rem;
    font-weight: 300;
  }
  
}

.hsDetailDrunkedAddedContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.5rem;
  color: #666;
}

.hsDetailMemoContent > textarea {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #bababa;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  box-sizing: border-box;
}

.hsDetailBtn {
  display: flex;
  gap: 1rem;
}

.hsDetailPopupClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}
