@import '~styles/theme.scss';

.header {
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 9999;
  height: $header-height;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 1rem 2rem;
  }
  .mainLogo {
    cursor: pointer;
    img {
      width: 6rem;
    }
  }
  nav {
    display: flex;
    gap: 2rem;
    ul {
      display: flex;
      align-items: center;
      gap: 3rem;
      color: $black;
      font-size: $font-size-md;
      li {
        position: relative;
        padding: 0.2rem;
        a {
          cursor: pointer;
          transition: color 0.3s;
          &:hover {
            color: rgba($color: $black, $alpha: 0.5);
          }
        }
      }
    }
    .loginWrap {
      margin-left: 2rem;
      display: flex;
      gap: 1rem;
      button {
        font-size: $font-size-xs;
        color: $black;
        padding: 0;
        outline: none;
      }
    }
  }

  .m_menu_btn {
    display: none;
    color: $black;
    font-size: $font-size-xxl;
  }

  &.main {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: inherit;
    nav {
      ul {
        color: $white;
        li {
          a {
            &:hover {
              color: $white;
            }
          }
          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -0.2rem;
            width: 0%;
            height: 0.1rem;
            background-color: $white;
            transition: 0.5s;
          }
          &:hover {
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
    .loginWrap {
      button {
        color: $white;
      }
    }

    .m_menu_btn {
      color: $white;
    }
  }
  .m_menu {
    display: flex;
    visibility: hidden;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: $black, $alpha: 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    &.on {
      opacity: 1;
      visibility: visible;
      z-index: 9999;
      animation: show 0.5s forwards;
      .m_menu_inner {
        transition: 0.5s;
        transform: translateX(0);
      }
    }

    .m_menu_inner {
      transition: 0.5s;
      transform: translateX(100%);
      width: 300px;
      height: 100%;
      background-color: $white;
      .m_menu_header {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #dbdbdb;
        padding: 1.5rem;
        h2 {
          img {
            width: 80px;
          }
        }
        button {
          font-size: $font-size-lg;
          color: $dark-gray;
        }
      }
      .m_menu_body {
        padding: 0rem 2rem;
        color: rgba($color: $black, $alpha: 0.7);
        font-size: $font-size-lg;
        li {
          padding: 1.3rem 0;
        }
      }
      .m_login_wrap {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 1.5rem;
        button {
          width: 50%;
          border-radius: 3rem;
          padding: 0.3rem 0;
          color: $white;
          background-color: $gray11;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg) and (min-width: $breakpoint-sm) {
  .header {
    nav {
      display: none;
    }
    .m_menu_btn {
      display: block;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .header {
    .mainLogo {
      img {
        width: 6rem;
      }
    }
    nav {
      display: none;
    }
    .m_menu_btn {
      display: block;
    }
  }
}
