@import '~styles/theme.scss';

.orderBox{
 display: flex;
 flex-direction: column;
 width: 100%;
 height: auto;
 margin:0 auto;
 font-weight: bold;
}

.ordertext{
    cursor:pointer; 
    margin-right: 1%;
}

.writetext{
    cursor:pointer; 
    float: right;
    color: $accent-color;
}

.m {
    size: 2px;
    background: #ccc;
  }

.pointColor{
    color: $accent-color;
}