@import '~styles/theme.scss';

.searchBarBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    padding: 5rem 0;
    max-height: 50px;

}

.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.searchBarInput{
    width: 80%;
    height: 7vh;
    background-color: #f4fff4;
    border:2px solid $accent-color;
    border-radius:25rem;
    text-align: left;
    padding-left: 1rem;
    font-size: $font-size-md ;
    box-shadow: 8px 5px 5px rgba($accent-color ,0.2); ;
}


.Icon{
    font-size: xx-large;
}