.hsTitleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: #efefef;
}

.hsTitleSection h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
