.container {
  width: 1250px;
  margin: auto;
}

/* ########################## 공통 버튼 ########################## */
.btn_type_1 {
  color: #924dcb;
  transition: color 0.3s;
  font-weight: bold;
  font-size: 1rem;
}

.btn_type_1:hover {
  color: #551b85;
}

.btn_type_2,
.btn_type_3,
.btn_type_4 {
  color: #fff;
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  transition: background 0.3s;
}

.btn_type_2 {
  background: #924dcb;
}
.btn_type_2:hover {
  background: #551b85;
}

.btn_type_3 {
  background: #999;
}
.btn_type_3:hover {
  background: rgb(96, 96, 96);
}

.btn_type_4 {
  background: rgb(227, 107, 107);
}
.btn_type_4:hover {
  background: rgb(171, 70, 70);
}
