@import '../theme.scss';

/* ########################## 알코올 히스토리 메인 ########################## */
.ahListBtnSection {
  margin: 1.5rem 0;
  display: flex;
  justify-content: flex-end;
}

.ahMainContent {
  margin-bottom: 3rem;
  & > h4 {
    border-bottom: 1px solid #999999;
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  & > ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.ahListMore {
  text-align: center;
  & > button {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    color: rgba($color: $black, $alpha: 0.8);
    transition: color 0.3s;
    &:hover {
      color: rgba($color: $black, $alpha: 0.6);
    }
  }
}

