/* ########################## 알코올 히스토리 메인 ########################## */
.hsListBtnSection {
  margin: 1.5rem 0;
  display: flex;
  justify-content: flex-end;
}

.hsMainContent {
  margin-bottom: 3rem;
}

.hsMainContent > h4 {
  border-bottom: 1px solid #999999;
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.hsMainContent > ul {
  display: flex;
  flex-wrap: wrap;
}

.hsListMore {
  text-align: center;
}

.hsListMore > button {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
  transition: color 0.3s;
}

.hsListMore > button:hover {
  color: #999;
}