.hsMainCard {
  position: relative;
  width: 24%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.hsMainCard:nth-child(4n) {
  margin-right: 0;
}

.hsMainCardTxt {
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.hsMainCardTxt > h5 {
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
}

.hsMainCardTxt > h5 > span {
  font-size: 1rem;
  display: block;
  margin-top: 0.5rem;
  font-weight: normal;
}

.hsMainCardTxt > p {
  margin: 1.5rem 0;
  line-height: 2;
}

.hsMainCardImg {
  width: 100%;
  height: 100%;
}

.hsMainCardImg > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: contain;
  transition: 0.3s;
}

.hsMainCard:hover .hsMainCardImg > img {
  transform: scale(1.2);
}
