@import "@styles/theme.scss";

.card{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 240px;
  height: 320px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px  rgba(0,0,0,0.1);
  background-color: #F5F5F5;
  cursor: pointer;

  &:hover,&:focus{
    transition: all 0.3s ease-out;
    transform: translateY(-5px);
  }
  
  //768px ~ 1060px
  @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
    gap: 0.5rem;
    width: 230px;
    height: auto;

  }
  //~768px
  @media screen and (max-width: $breakpoint-sm) {
    width: 95%;
    height: auto;
    gap: 10%;
    gap: 1rem;
    margin:0 auto;
  }

  .titleBox{
    text-align: center;
    & > hr{
      width: 150px;
    }
  }

  .labelBox{
    width: 14%;
    height: 1.2rem;
    
    border-radius: 5px;
  }

  .title{
    font-size: $font-size-sm;
    text-align: center;
    font-weight: bold;
    color: rgb(53, 53, 53);
    text-shadow: 1px 1px 1px gray;
    //~768px
    @media screen and (max-width: $breakpoint-sm) {
      font-size: $font-size-xl;
    }
  }

  .labelBoxEmpty{
    width: 14%;
    height: 1.2rem;
  }

  .label{ 
    font-size: $font-size-xxs;
    color: white;
    font-weight: bold;

     //768px ~ 1060px
     @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
      font-size: $font-size-xs;
    }

    //~768px
    @media screen and (max-width: $breakpoint-sm) {
      font-size: $font-size-sm;
    }
  }


  .imageBox{
    width: 100%;
    text-align: center;
  }

  .image{
    width: 120px;
    min-width: 150px;
    height: auto;
    border-radius: 5%;
    object-fit: cover;
    aspect-ratio: 7/8;

    @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
      width: 150px;
      object-fit: scale-down;
    }

    @media screen and (max-width: $breakpoint-sm) {
      width: 180px;
      object-fit: scale-down;

    }
  }

  .hashtagBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 10px 5px;
    padding-top: 0.2rem;
    font-size: 0.5rem;

    @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
      font-size: 0.9rem;
      align-items: flex-start;
    }

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 0.9rem;
    }

  }
  
  .hashtag{
    width: auto;
    color: white;
    background-color: #B7B7B7;
    border-radius: 22px;
    padding: 0.2rem 0.5rem;
    white-space: nowrap;

    @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
      overflow :hidden;
      text-overflow: ellipsis;
    }

    @media screen and (max-width: $breakpoint-sm) {
      overflow :hidden;
      text-overflow: ellipsis;
    }
  }


}
