// Colors =============================
$accent-color: #5bbb5f; // primary-color & border-color
$point-color-darker: #d4b00e;
$point-color: #f0c912;
$danger-color: #d44c47;
$cassblue-color: #023279;
$black: #000; // font-color
$dark-gray: #70757a; // font-color(for placeholer)
$white: #fff; // background-color
$kakao-color: #fee500; // kakaoTalk

$gray11: #b7b7b7; // font-color(for placeholer)
$gray11-alpha33-fill: #d9d9d9; // font-color(for placeholer)

// Font Size ==========================
$font-size-xxs: 0.75rem; // 12px
$font-size-xs: 0.875rem; // 14px
$font-size-sm: 1rem; // 16px
$font-size-md: 1.125rem; // 18px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px
$font-size-xxl: 1.75rem; // 28px
$font-size-xxxl: 2rem; // 32px
$font-size-xxxxl: 4rem;

// Font-Weight ========================
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

// responsive ========================
$breakpoint-sm: 768px;
$breakpoint-lg: 1060px;

// height
$header-height: 63px;
$footer-height: 200px;

// Mixin =============================
@mixin ellipsisText($line-cnt, $line-height) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-cnt; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: $line-height;
  height: $line-height * $line-cnt; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}
