.container{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin:0 auto;
    gap: 2rem;
}

.recipeHeader{
}


.recipeCardBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin:0 auto;
    flex-wrap: wrap;
    gap: 5vh 12%;
    margin-bottom: 2rem;
}

.recipeCount{
    width: 100%;
}