@import '../theme.scss';

.container{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    gap: 2rem;
    width: 100%;
}


.orderbarbox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.recipeCardBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 80vh;
    margin:0 auto;
    gap: 6vh 10%;
    margin-bottom: 1.5rem;
    @media screen and (max-width: $breakpoint-lg) and (min-width: $breakpoint-sm) {
        gap: 6vh 10%;
        margin-bottom: 10vh;
    }

    @media screen and (max-width: $breakpoint-sm) {
        gap: 6vh 10%;
        margin-bottom: 10vh;
    }
}

.recipeCount{
    font-size: $font-size-md;
    font-weight: bold;
}

.recipeCount > span{
    color : $accent-color;
}







.fileUpload{
    display: none;
}
.thumbnailImg{
    cursor : pointer;
    & > img{
        
    }
}