@import '~styles/theme.scss';

.container{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin:0 auto;
    gap: 2rem;
}
@media screen and (max-width: $breakpoint-lg) and (min-width: $breakpoint-sm) {

}

@media screen and (max-width: $breakpoint-sm) {

}